.file-history ul {
	padding: 0;
	margin: 0;

	list-style: none;

	a, a:visited {
		color: #27a5ce;
	}

	a.selected, a.selected:visited {
		color: #1B40FF;
	}
}

span.removed {
	background: rgba(155, 0, 0, 0.2);
}

span.added {
	background: rgba(0, 155, 0, 0.2)
}